# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules
dist





# Ignorar o backend
backend/
server.js
.env




git add .gitignore
git commit -m "Adiciona .gitignore para ignorar arquivos sensíveis"
git push origin main
